@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-oswald: var(--font-oswald);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fafafa;
    --foreground: #ededed;
  }
}
.font-oswald {
  font-family: var(--font-oswald);
}

.font-geist-sans {
  font-family: var(--font-sans);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family:  Helvetica, sans-serif;
}
